name: shua
on:
  schedule:
    - cron: '05 11 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codes
        uses: actions/checkout@v4
      - name: 初始化Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: 安装requests库
        run: pip install requests
      - name: 运行Python脚本
        run: |
          user="${{ secrets.USER }}"
          passwd="${{ secrets.PWD }}"
          open_get_weather="${{ secrets.OPEN_GET_WEATHER }}"
          area="${{ secrets.AREA }}"
          sckey="${{ secrets.SCKEY }}"
          python3 main.py "$user" "$passwd" "$open_get_weather" "$area" "$sckey"
          time=$(TZ=UTC-8 date +'%Y-%m-%d %H:%M:%S')
          echo "最后一次运行时间: $time（北京时间）"
